@import 'base.css';

.header {width:100%; position:relative; padding:0.5rem; 
	background-color:rgb(95, 158, 240); color:#fff; font-size:1rem;}
.header > :nth-child(1) {float:left; width:1.75%; min-width:1rem; padding-top:0.25em;}
.header > :nth-child(2) {float:left; font-size:1.5em; line-height:1.25em; margin-left:1em;}
.header > :nth-child(3) {float:left; width:1.25%; min-width:1rem; padding-top:0.75em; margin-left:1em;}
.header > :nth-child(4) {float:right;}
.header > :nth-child(5) {float:right; font-size:1.25em; margin-right:1em; line-height:1.25em;}
.header > :nth-child(6) {float:right; margin-right:1em;}
.header > :nth-child(1) > li {background:#fff; width:100%; height:0.25em; margin-bottom:0.25em;}
.header > :nth-child(3) > li {background:#fff; width:100%; height:0.25em;}
.header > :nth-child(3) > li:first-child {transform:rotate(90deg);}
.header > :nth-child(3) > li:last-child {transform:translateY(-0.25em);}


.section {width:100%; position:relative; height:calc(100% - 5rem);}
.navs {float:left; width:35%; height:100%;}
.conts {float:right; width:65%; height:100%; border-left:2px solid #f1f1f1;}

.footer {width:100%; position:relative; padding:0.5rem; background-color:rgb(95, 158, 240); text-align:center; color:#fff;}